header {
  background: #09032f;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5%;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 16%);
}

.header__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 0.2em;
}

.header__sub-title {
  font-size: 18px;
  font-weight: 200;
}

.real-time-interface {
  padding: 1.25% 2.5%;
  max-width: 100%;
  box-sizing: border-box;
}

.real-time-interface__button {
  display: flex;
  padding: 0.8em;
  border-radius: 0.5rem;
  justify-content: center;
  cursor: pointer;
  background: #6b2bd6;
  color: white;
  width: 120px;
  font-size: 18px;
  margin: 20px 0;
}

.real-time-interface__title {
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 525;
}

.real-time-interface__message {
  text-align: left;
  width: 100%;
  margin-top: 0.5em;
  font-size: 19px;
  font-weight: 400;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 16%);
  padding: 1em;
  transition: 0.5s ease-in;
  max-height: 60vh;
  overflow-y: auto;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  header {
    height: 15vh;
    padding: 0 5%;
  }

  .header__title {
    font-size: 28px;
  }

  .header__sub-title {
    font-size: 16px;
  }

  .real-time-interface__button {
    width: 100px;
    font-size: 16px;
  }

  .real-time-interface__title {
    font-size: 16px;
  }

  .real-time-interface__message {
    font-size: 16px;
    padding: 0.8em;
  }
}
